# WordPress uploads (pesado, no versionar)
wp-content/uploads/
wp-content/cache/
wp-content/backups/
wp-content/upgrade/
wp-content/themes/ITMGroup/assets/E-BOOK-Mexico.pdf
wp-content/themes/ITMGroup/assets/pdf/E-BOOK-Dominican-Republic.pdf
wp-content/themes/ITMGroup/assets/E-BOOK-Dominican-Republic.pdf
# Carpetas grandes del proyecto
seatrade/
book/
seatrade-test/
directorio/

# Archivos grandes
*.sql
*.tar.gz
*.gz
*.zip
*.mp4
*.bak
*.tmp
*.log

# OS/IDE
.DS_Store
Thumbs.db


node_modules/
vendor/
*.tmp